/* Contact Us Area css
============================================================================================ */
.contact-us-area{
  padding-top: 100px;
  padding-bottom: 100px;

  .contact-form{
    
    @include media-breakpoint-up(xxl){
      --bs-gutter-y: 40px;
      --bs-gutter-x: 40px;
    }
  }
}

.form-control{
  height: 60px;
  width: 100%;
  background-color: $white;
  border: 0px;
  border-radius: 0px;
}

textarea.form-control{
  height: 150px;
}

